body {
   font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/** =================== HEADER =================== */

.header-logo {

   color: var(--NAVY-BLUE, #2E2F42);
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.header-logo-web {
   color: var(--IRIS, #4D5AE5);
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.header-menu-link {
   color: var(--NAVY-BLUE, #2E2F42);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}



/** =================== MAIN =================== */

/** ------------------ HERO ------------------ */

/*? .main {} */

.main-hero {
   background: var(--NAVY-BLUE, #2E2F42);
}

.main-hero-h1 {
   color: var(--WHITE, #FFF);
   text-align: center;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
}

.main-hero-button {
   color: var(--WHITE, #FFF);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: inherit;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
}


/** ------------------ SKILS ------------------ */

/*? .main-skils {} */

.main-skils-h2 {
   color: var(--NAVY-BLUE, #2E2F42);
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

/*? .main-skils-list {} */

/*? .main-skils-item {} */

/*? .main-skils-h3 {} */

.main-skils-item-text {
   color: var(--SLATE, #434455);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/** ------------------ OUR TEAM ------------------ */

/*? .main-team {} */

.main-team-h2 {
   color: var(--NAVY-BLUE, #2E2F42);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}

/*? .main-team-list {} */

/*? .main-team-item {} */

.main-team-list-img {
   background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.main-team-h3 {
   color: var(--NAVY-BLUE, #2E2F42);
   text-align: center;
   font-family: Roboto;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.main-team-text {
   color: var(--SLATE, #434455);
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}


/** ------------------ PORTFOLIO ------------------ */


/* ? .main-portfolio {} */

.main-portfolio-h2 {
   color: var(--NAVY-BLUE, #2E2F42);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}

/*? .main-portfolio-list {} */

/*? .main-portfolio-item {} */

/*? .main-portfolio-list-img {} */

.main-portfolio-h3 {
   color: var(--NAVY-BLUE, #2E2F42);
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.main-portfolio-text {
   color: var(--SLATE, #434455);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}




/** =================== FOOTER =================== */

.footer {
   background: var(--NAVY-BLUE, #2E2F42);
}

.footer-logo {
   color: var(--CLOUD, #F4F4FD);
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.footer-logo-web {
   color: var(--IRIS, #4D5AE5);
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}


.footer-logo-text {
   color: var(--CLOUD, #F4F4FD);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}